/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

.main-container {
    background: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.update-container {
    background: white;
    padding: 30px;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.update-container h3 {
    color: #333;
    margin-bottom: 20px;
}


.update-container form {
    display: flex;
    flex-direction: column;
}

.update-container section {
    margin-bottom: 15px;
}

.update-container p {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

.update-container p a{
    text-decoration: none;
}

.update-container p a:hover{
    text-decoration: underline;
}

.update-container span {
    color: red;
}

.update-container .box {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Button */
.update-container .btn {
    background: #af46e9;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.update-container .btn:hover {
    background: #d499f4;
}

/* Message Alert */
.message {
    background: #ffdddd;
    padding: 10px;
    border-left: 4px solid red;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.message i {
    cursor: pointer;
    color: red;
}

/* Responsive Design */
@media (max-width: 500px) {
    .signup-container {
        width: 90%;
    }
}