<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet">
    <link rel="stylesheet" href="instructorDBoard.css">
</head>
<body>
    <main >
        <header>
            <div class="header-title">
                <span>Dashboard</span>
                <h2>Hi, Instructor</h2>
            </div>
            <div class="user-profile">
                <div class="search-bar">
                    <i class="material-symbols-outlined">search</i>
                    <input type="text" placeholder="Search">
                </div>
                <img src="" alt="profile-picture">
            </div>
        </header>

        <section>
            
        </section>
    </main>
</body>
</html>