<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet">
    <link rel="stylesheet" href="instructorDBoard.css">
</head>
<body>
    <main >
        <header>
            <div class="header-title">
                <span>Dashboard</span>
                <h2>Hi, Instructor</h2>
            </div>
            <div class="user-profile">
                <div class="search-bar">
                    <i class="material-symbols-outlined">search</i>
                    <input type="text" placeholder="Search">
                </div>
                <img src="" alt="profile-picture">
            </div>
        </header>

        <section class="card-container">
            <h3 class="main-title">Todays data</h3>
            <div class="card-wraper">
                <div class="payment-card">
                    <div class="card-header">
                        <div class="amount">
                            <span class="title">Payment amount</span>
                            <span class="amount-value">$80000</span>
                        </div>
                        <i>icon</i>
                    </div>
                    <span class="card-detail">8888888888</span>
                </div>
            </div>
        </section>
    </main>
</body>
</html>